<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
        <title>Artist search</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
      <input type='text' name='artist'>
      <button>Search for an Artist</button>
  </body>
</html>
